.item {
  font-size: 0.75em;
  color: yellow;
}
.field {
  font-size: 0.75em;
  color: gray;
  text-transform: uppercase;
}
.link {
  font-size: 0.5em;
  background: black;
  padding: 2px 10px;
  border-radius: 10px;
  margin-right: 5px;
  display: inline-block;
}
.links {
  line-height: 70%;
  word-wrap: normal;
  max-width: 80vw;
  margin-bottom: 20px;
}
